<main>
    <button class="button_close" onclick="hideInformations()">
        <i class="fa fa-x"></i>
    </button>
    <section class="informations_contact">
        <a href="mailto:contact@museedelalavande-provence.com">contact@museedelalavande-provence.com</a>
        <p>+337 123 456 78</p>
        <address>
            Musée de la Lavande 123, <br> 
            Rue des Champs Parfumés, Vallée de Provence, <br>
            Pays Lavandula
        </address>
    </section>
    <hr>
    <section class="informations_details">
        <div class="informations_box-detail">
            <span class="informations_letter_box-detail">H</span>
            <div class="informations_content_box-details">
                <h4 class="informations_title">Horaires d’ouverture</h4>
                <p>
                    Du mardi au dimanche : 10h00 - 18h00 <br>
                    Jeudi (nocturne) : 10h00 - 20h00
                </p>
            </div>
        </div>
        <div class="informations_box-detail">
            <span class="informations_letter_box-detail">R</span>
            <div class="informations_content_box-details">
                <h4 class="informations_title">Réservations</h4>
                <p>
                    Pour réserver votre visite ou pour toute demande de groupe, veuillez nous contacter à l'avance pour garantir la disponibilité.
                </p>
            </div>
        </div>
        <div class="informations_box-detail">
            <span class="informations_letter_box-detail">V</span>
            <div class="informations_content_box-details">
                <h4 class="informations_title">Visites guidées</h4>
                <p>
                    Des visites guidées sont disponibles à des horaires spécifiques. Contactez-nous pour réserver votre visite guidée et approfondir votre expérience.
                </p>
            </div>
        </div>
    </section>
</main>