
@media only screen and (min-width: 1024px) {
    html {
        height: 100%;
    }
    body{
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: 1rem;
    }

    .menu_mobile{
        display: none;
    }
    /* Style du Header */
    header{
        width: 100%;
        z-index: 2;
    }
    .menu_web{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .menu_web ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 25%;
    }

    .menu_web li a{
        margin: 0 0.4rem;
        font-weight: 400;
        color: #dcdcdc;
        text-decoration: none;
    }
    
    .menu_web li a:hover{
        color: #9F6DBD;
        cursor: pointer;
    }

    /* Style du container */
    main{
        flex: 1;
        /* margin: 2rem 20%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Style de la page d'accueil */
    section.description{
        text-align: center;
        max-width: 750px;
    }
    .box_articles{
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
    }

    /* Style des cartes articles */
    .card_article_history_mobile.card_article{
        display: none;
    }

    .card_article_history_web.card_article{
        display: flex;
        flex-direction: column;
    }

    .card_article{
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: 0 1rem;
    }

    .card_image{
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .card_detail_article{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        min-height: 160px;
    }

    .title_card_article{
        width: 100%;
    }

    /* Style des pages articles */
    .article_responsive{
        overflow-x: hidden;
    }

    .article_responsive{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .article main{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
        max-width: 600px;
        max-height: 800px;
        padding: 2rem;
        overflow-y: scroll;
    }

    .article main::-webkit-scrollbar{
        display: none;
    }

    .article_description{
        margin-bottom: 2.5rem;
    }

    .image_article {
        width: 750px;
        height: 650px;
        margin: -7rem;
    }

    /* Style de la page contact  */
    nav.infoPage{
        display: none;
    }
    .contact_titre_et_infos i{
        display: none;
    }
    
    
    .informationContact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .informationContact main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contact_description{
        margin-left: 15.5rem;
        width: 50%;
        padding: 0 4rem;
    }
    
    .informations_complementaires{
        margin-right: 15.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        padding: 0 4rem;
        color: #fff;
    }
    
    .contact{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .contact a{
        color: #fff;
        padding-right: 2rem;
    }

    hr{
        color: #fff;
        margin: 3rem 0;
        width: 100%;
        border: 1px solid #fff;
    }

    span.background_contact{
        display: block;
        width: 50%;
        height: 100%;
        background-color: #D4C2AC;
        position: fixed;
        top: 0;
        right: 0;
        z-index: -1;
    }

    /* Style Section slideshow */

    .slider{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .slider h1{
        text-align: center;
    }

    .slideshow{
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        overflow-x: scroll;
    }

    .slideshow h1{
        text-align: center;
    }

    .slideshow_box_images img{
        margin-right: 1rem;
        border-radius: 10px;
        min-width: 600px;
        width: 600px;
        height: 430px;
        object-fit: cover;
    }

    /* Style modal */
    .modal_content{
        top: 30%;
        bottom: 30%;
        left: 30%;
        right: 30%;
    }

    /* Style commentaires - article */
    .form_comments textarea{
        min-width: 600px;
    }

    /* Footer  */
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #D4C2AC;
        color: #fff;
        padding: 45px 0;
        position: relative;
        bottom: 0;
    }

    .footer_block{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .article footer,
    .informationContact footer{
        display: none;
    }
}