
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Montserrat+Alternates&family=Raleway:wght@200;300;500&display=swap');
:root {
    --main-color: #9F6DBD;
    --white-color: #ffffff;
    --black-color: #000;
    --grey-color: #f2f2f2;
    --dark-grey-color: #dcdcdc;
    --gold-color: #D4C2AC;
    --dark-gold-color: #C7B59F;
  }

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin: 0;
}

h1, h2{
    font-family: 'Montserrat Alternates', sans-serif;
}

h3, h4{
    margin: 0;
}

/* Style footer */
footer {
    display: none;
}

/* Style en-tête */

header{
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

header section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.logo{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.button_navbar{
    border: none;
    background: none;
    color: var(--main-color);
    font-size: 1.5rem;
}

.menu_web{
    display: none;
}

.searchBar input,
.searchBar button{
    border: none;
    background: none;
}

.searchBar{
    border: 1px solid var(--grey-color);
    padding: 0.6rem;
    display: flex;
    border-radius: 50px;
    width: 25%;
}

.searchBar i{
    padding-right: 0.5rem;
    color: var(--main-color);
}
/* Style accueil */
main{
    margin: 2rem 3rem;
}

/* Style carte article */
.card_article_history_web.card_article{
    display: none;
}

.card_article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.card_image{
    width: 150px;
    object-fit: cover;
}

.card_detail_article{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 1em;
}

.card_history{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    text-align: end;
}

.main_button,
.card_history .main_button{
    background-color: var(--main-color);
    color: var(--white-color);
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    width: fit-content;
    padding: 5px 10px;
}

/* Style article */
.article{
    background-image: url(contenu/background_bee.png);
    background-size: 1000px;
}
.image_article{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article_description{
    margin-bottom: 2.5rem;
}

span.category{
    background-color: var(--main-color);
    color: var(--white-color);
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

.article_content{
    text-align: justify;
}

.article_button{
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
}

/* Style page contact */

.contact_titre_et_infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact_titre_et_infos i{
    color: var(--gold-color);
    font-size: 2rem;
}

.form_contact{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.form_contact label{
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form_contact input[type=text]{
    background-color: var(--grey-color);
    height: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid var(--dark-grey-color);
}

.form_contact input[name=message]{
    height: 5rem;
}

/* Style page informations  */

nav.infoPage{
    background-color: var(--gold-color);
    color: var(--white-color);
}

.button_close{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: end;
    float: right;
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 1.5rem;
}

.informations_contact{
    font-weight: 500;
}

nav.infoPage a{
    color: var(--white-color);  
}

nav.infoPage button.button_close{
    color: var(--white-color);
}

nav.infoPage address{
    font-style: normal;
}

nav.infoPage hr{
    margin: 3rem 0;
    color: var(--white-color);
    border: 1px solid;
}

.informations_details{
    display: flex;
    flex-direction: column;
}

.informations_box-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.informations_letter_box-detail{
    background-color: var(--dark-gold-color);
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
    height: 1rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 10px;
}

.informations_content_box-details{
    display: flex;
    flex-direction: column;
}

.informations_content_box-details p{
    margin: 0;
    margin-top: 0.5rem;
}

.informations_complementaires{
    display: none;
}

/* Style page navbar */
nav{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
nav.homepage{
    background-color: var(--white-color);
    background-image: url(contenu/background_bee.png);
    background-size: 1000px;
}

nav button.button_close{
    color: var(--main-color);
}

.menu a{
    text-decoration: none;
    color: var(--black-color);
    width: 100%;
}

.menu a:active{
    font-weight: bold;
    color: var(--main-color);
}

.menu ul{
    list-style: none;
    padding: 0;
}
.menu ul li{
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--grey-color);
}

.menu ul li i{
    margin-right: 1rem;
    color: var(--main-color);
}

/* Style section slideshow */

.slideshow{
    overflow: hidden; /* Tout ce qui sort de la section sera caché  */
    overflow-x: scroll;
    /* width: 100%; */
} 


.slideshow_box_images{ /* Dans cet encart il sera possible de scroller */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slideshow::-webkit-scrollbar{ /* La barre de scroll ne sera pas affichée */
    display: none;
}

.slideshow_box_images img{
    margin-right: 1rem;
    border-radius: 10px;
    min-width: 250px;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.slideshow_navigation{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

button.slideshow_button{
    color: var(--main-color);
    font-weight: bold;
    font-size: 1rem;
    background: var(--white-color);
    border: 1px solid #9F6DBD60;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

/* Style modal */
.modal{
    display: none;
}

.modal_overlay{
    background-color: var(--black-color);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal_content{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background-color: var(--white-color);
    padding: 4rem;
    border-radius: 10px;
}

.modal_content button{
    font-size: 1rem;
    background: none;
    border: none;
    color: var(--main-color);
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
}

.modal_content img{
    width: 200px;
    position: absolute;
    bottom: 0;
}

/* Style section commentaire - articles */
section.comments_content{
    margin-top: 1rem;
}
.form_comments textarea{
    width: 100%;
    min-height: 80px;
    padding: 0;
    border: 1px solid var(--dark-grey-color);
    border-radius: 5px;
    background-color: var(--grey-color);
}

#visitors_comments_content ul{
    padding: 0;
}
.list_comments_item{
    list-style-type: none;
    margin: 0;
}

.list_comments_item::before{
    font-family: "Font Awesome 5 free";
    content: '\f2bd';
    color: var(--main-color);
    font-weight: bold;
    padding-right: 1rem;
}

.visitors_comments{
    margin-top: 2rem;
    /* display: none; */
}