<div class="footer_block">
    <div class="footer_social-media">
        <i class="fa fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa fa-envelope"></i>
    </div>
    <p>
        © 2023 - Marine Thomas. All rights reserved
    </p>
</div>