<section class="menu_mobile">
    <img class="logo" src="contenu/logo-museum-lavender.png" alt="Logo Musée de la lavande">
    <button class="button_navbar" onclick="showMenu()">
        <i class="fa fa-bars"></i>
    </button>
</section>

<!-- Version Navigateur -->
<section class="menu_web">
    <div class="searchBar">
        <button type="submit"><i class="fa fa-magnifying-glass"></i></button>
        <input type="text" placeholder="Rechercher ...">
    </div>
    <img class="logo" src="contenu/logo-museum-lavender.png" alt="Logo Musée de la lavande">
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="exposition_champs.html">Nos expositions</a></li>
        <li><a href="contact.html">Informations pratiques</a></li>
    </ul>
</section>
