<main>
    <button class="button_close" onclick="hideMenu()">
        <i class="fa fa-x"></i>
    </button>
    <div class="menu">
        <ul>
            <li>
                <a href="index.html"><i class="fa fa-ticket"></i>Accueil</a>
            </li>
            <li>
                <a href="exposition_champs.html"><i class="fa fa-masks-theater"></i>Nos expositions</a>
            </li>
            <li>
                <a href="contact.html"><i class="fa fa-circle-info"></i>Contact et informations pratiques</a>
            </li>
        </ul>
    </div>
</main>
